# Ignore everything
* 

# But
!environment-prod.yml

!modeling/README.md
!modeling/src/
!modeling/pyproject.toml
!modeling/matlab/exports/for_redistribution_files_only

!optimization/README.md
!optimization/src/
!optimization/pyproject.toml

!simulation/README.md
!simulation/src/
!simulation/pyproject.toml

!visualization/README.md
!visualization/src/
!visualization/pyproject.toml

!deployment/README.md
!deployment/src/
!deployment/pyproject.toml