__pycache__*
modeling/.venv/
optimization/.venv/
simulation/.venv/
visualization/.venv/
modeling/src/solhycool_modeling/__pycache__/__init__.cpython-312.pyc
simulation/src/solhycool_evaluation/__pycache__/__init__.cpython-312.pyc
modeling/src/solhycool_modeling/__pycache__/__init__.cpython-312.pyc
output.log
simulation/results/output.log
# modeling/matlab/component_models/physical
airflow*.db
deployment/simple_auth_manager*
deployment/logs