**/__pycache__/
.env
**/output.log
modeling/.venv/
optimization/.venv/
simulation/.venv/
visualization/.venv/
airflow*.db
deployment/simple_auth_manager*
deployment/logs
data/datasets/experimental
*.asv